.pageTitle{
    font-family: Helvetica;
    font-size: 5vh;
    font-weight: bolder;
    color: #003b00;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3.5%;
    height: 2vh;
}

.inputContainer1Clerk {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /*top: 40%;*/
    left: 109px;
    position: absolute;
}

.inputContainer2Clerk {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /*top: 40%;*/
    left: 390px;
    position: absolute;
}

.inputContainer3Clerk {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /*top: 40%;*/
    left: 650px;
    position: absolute;
}

.inputContainer > .errorLabel {
    color: red;
    font-size: 12px;
}

.bedroomButton{
    display: flex;
    margin:  15px 10px 5px 20px;
    width: 242px;
    height: 242px;
    left: 7px;
    top: 40%;
    border: 3px solid green;
    float: left;
    padding: 5px;
}
