/* Set background color to dark grey */
body {
    background-color: #545454;
    color: white; /* Set text color to white */
    height: 100vh;
    overflow: auto;
}

/* Container styles */
.container {
    max-width: 100%; /* Adjust max-width as needed */
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    height: 60px;
}

/* Logo styles */
.logo {
    position: absolute;
    left: 0;
    padding-left: 30px;
}

.logo img {
    width: 60px; /* Adjust logo size as needed */
    height: 60px;
}

/* Title styles */
.title {
    position: absolute;
    left: 0;
    padding-left: 110px;
    padding-top: 13px;
    font-size: 25px; /* Adjust font size as needed */
    font-family: Helvetica;
}

.login-drop{
    position: absolute;
    right: 20px;
}

.home-link{
    position: absolute;
    left: 400px;
    top: 32px;
    font-family: Helvetica;
    font-size: 25px;

    a { color: #ffffff
    } /* Globally */

    a:link {text-decoration: none}
    a:visited { text-decoration: none; color: #ffffff; }
    a:hover { text-decoration: none; color: #ffffff; }
    a:focus { text-decoration: none; color: #ffffff; }
    a:hover, a:active { text-decoration: none; color: #006016
    }

    &:hover{
        color: #545454;
    }
}

.shop-link-layout{
    position: absolute;
    left: 700px;
    top: 32px;
    font-family: Helvetica;
    font-size: 25px;

    a { color: #ffffff
    } /* Globally */

    a:link {text-decoration: none}
    a:visited { text-decoration: none; color: #ffffff; }
    a:hover { text-decoration: none; color: #ffffff; }
    a:focus { text-decoration: none; color: #ffffff; }
    a:hover, a:active { text-decoration: none; color: #006016
    }

    &:hover{
        color: #545454;
    }
}

.view-cart-link-layout{
    position: absolute;
    left: 950px;
    top: 32px;
    font-family: Helvetica;
    font-size: 25px;

    a { color: #ffffff
    } /* Globally */

    a:link {text-decoration: none}
    a:visited { text-decoration: none; color: #ffffff; }
    a:hover { text-decoration: none; color: #ffffff; }
    a:focus { text-decoration: none; color: #ffffff; }
    a:hover, a:active { text-decoration: none; color: #006016
    }

    &:hover{
        color: #545454;
    }
}

.view-bill-link-layout{
    position: absolute;
    left: 1200px;
    top: 32px;
    font-family: Helvetica;
    font-size: 25px;

    a { color: #ffffff
    } /* Globally */

    a:link {text-decoration: none}
    a:visited { text-decoration: none; color: #ffffff; }
    a:hover { text-decoration: none; color: #ffffff; }
    a:focus { text-decoration: none; color: #ffffff; }
    a:hover, a:active { text-decoration: none; color: #006016
    }

    &:hover{
        color: #545454;
    }
}

.center-link-layout{
    position: absolute;
    left: 1400px;
    top: 32px;
    font-family: Helvetica;
    font-size: 25px;

    a { color: #ffffff
    } /* Globally */

    a:link {text-decoration: none}
    a:visited { text-decoration: none; color: #ffffff; }
    a:hover { text-decoration: none; color: #ffffff; }
    a:focus { text-decoration: none; color: #ffffff; }
    a:hover, a:active { text-decoration: none; color: #006016
    }

    &:hover{
        color: #545454;
    }
}

.title-color{
    color: white;
}

.log-out-button{

    position: absolute;
    right: 20px;
    background-color: white;
    font-family: Helvetica;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    border: 3px solid transparent; /* Add a transparent border */
    border-color: black;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}