.listing-name{
    font-family: Helvetica;
    font-size: 7vh;
    font-weight: bolder;
    color: #003b00;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3.5%;
    height: 2vh;

}

.listing-desc{
    font-family: Helvetica;
    font-size: 30px;
    position: absolute;
    right: 25%;
    top: 70%;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}

/*.listing-cost{*/
/*    font-family: Helvetica;*/
/*    font-size: 30px;*/
/*    font-weight: bolder;*/
/*    position: absolute;*/
/*    right: 26%;*/
/*    top: 90%;*/
/*    color: black;*/
/*}*/


.image-containerCatalog {
    width: 200px; /* Adjust the width as needed */
    text-align: center; /* Center the text below the image */
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-weight: normal;
    margin: 50px; /* Margin around each image container */
    float: left;
}

.image-container img {
    width: 0%; /* Make the image fill the container */
    height: auto; /* Maintain the aspect ratio */
}

.image-container button{
    width: 150px;
    height: 30px;
    border: none;
    background-color: #003b00;
    color: white;

    &:hover{
        background-color: #002600;
    }
}

.catalogCatalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.itemCatalog {
    width: calc(20% - 20px);
    background-color: #ffb81c;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.itemCatalog img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.itemCatalog h2 {
    margin-top: 10px;
    font-size: 20px;
}

.itemCatalog button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #006016;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.itemCatalog button:hover {
    background-color: #64ed82;
}

