.confirmation-label{
    text-align: center;
    align-content: center;
    position: absolute;
    font-family: Damascus;
    font-weight: normal;
    font-size: 80px;
    top: 42.234%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


.return-label{
    text-align: center;
    position: absolute;
    font-family: Damascus;
    font-weight: normal;
    font-size: 15px;
    top: 13.5%;
}

.image-containerConfirm {
    width: 300px; /* Adjust the width as needed */
    text-align: center; /* Center the text below the image */
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-weight: normal;
    margin: 300px; /* Margin around each image container */
    float: right;
}

.image-containerConfirm img {
    width: 200%; /* Make the image fill the container */
    height: auto; /* Maintain the aspect ratio */
}