.confirmation-label{
    text-align: center;
    position: absolute;
    font-family: Damascus;
    font-weight: normal;
    font-size: 80px;
    top: 42.234%;
}


.return-label{
    text-align: center;
    position: absolute;
    font-family: Damascus;
    font-weight: normal;
    font-size: 15px;
    top: 13.5%;
}