.home-banner{
    width: 100%;
    height: auto;
    position: absolute;
    top: 150px;
    left: 0px;
    animation-name: slideIn;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}


@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.text-overlay{
    font-family: Helvetica;
    font-weight: bolder;
    font-size: 75px;
    position: absolute;
    top: 290px;
    left: 425px;
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}

.reserve-button{
    position: absolute;
    top: 450px;
    left: 515px;
    width: 300px;
    height: 50px;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 20px;
    background-color: #003b00;

    animation-name: fadeIn;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;

    &:hover{
        background-color: #002600;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        /*transform: translateY(-50%);*/
    }
    100% {
        opacity: 1;
        /*transform: translateY(0);*/
    }
}