.fixing-color{
    color: white;
}

.urban-elegance-img{
    position: absolute;
    left: 1%;
    top: 20.35%;
    width: 25%; /* Example width */
    height: 25%; /* Example height */
    object-fit: cover;
    opacity: 0.5;
}

.urban-elegance-img:hover{
    position: absolute;
    left: 1%;
    top: 20.35%;
    width: 25%; /* Example width */
    height: 25%; /* Example height */
    object-fit: cover;
    opacity: 1;
}

.urban-elegance-label{
    position: absolute;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-weight: normal;
    font-size: 20px;
    left: 3.79%;
    top: 50.234%;
}

.urban-learn-more{
    width: 150px;
    height: 30px;
    position: absolute;
    left: 3.79%;
    top: 56%;
    border: none;
    background-color: #003b00;
    color: white;

    &:hover{
        background-color: #002600;
    }
}

.nature-retreat-img{
    position: absolute;
    left: 32%;
    top: 20.35%;
    width: 25%; /* Example width */
    height: 25%; /* Example height */
    opacity: 0.5;
}

.nature-retreat-img:hover{
    position: absolute;
    left: 32%;
    top: 20.35%;
    width: 25%; /* Example width */
    height: 25%; /* Example height */
    opacity: 1;
}

.nature-retreat-label{
    position: absolute;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-weight: normal;
    font-size: 20px;
    left: 35.69%;
    top: 50.234%;
}

.nature-retreat-button{
    width: 150px;
    height: 30px;
    position: absolute;
    left: 35.69%;
    top: 56%;
    border: none;
    background-color: #003b00;
    color: white;

    &:hover{
        background-color: #002600;
    }
}

.old-vintage-img{
    width: 25%; /* Example width */
    height: 25%; /* Example height */
    position: absolute;
    left: 63%;
    top: 20.35%;
    opacity: 0.5;
}

.old-vintage-img:hover{
    width: 25%; /* Example width */
    height: 25%; /* Example height */
    position: absolute;
    left: 63%;
    top: 20.35%;
    opacity: 1;
}

.old-vintage-label{
    position: absolute;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-weight: normal;
    font-size: 20px;
    left: 67.69%;
    top: 50.234%;
}

.old-vintage-button{
    width: 150px;
    height: 30px;
    position: absolute;
    left: 67.69%;
    top: 56%;
    border: none;
    background-color: #003b00;
    color: white;

    &:hover{
        background-color: #002600;
    }
}