.inputContainerReset {
    /*background-color: #f9f9f9;*/
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.box{
    width: 1800px;
    height: 1000px;
    min-height: 100px;
    overflow: auto;
    border: 10px solid #ffb81c;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.inputBox {
    height: 48px;
    width: 400px;
    font-size: large;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 8px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type='button'] {
    border: none;
    background: #64ed82;
    color: #ffffff;
    padding: 12px 24px;
    margin: 10px;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    position: relative;
    display: block;


    &:hover{
        background-color: #006016;
    }
}

.login-failed{
    color: red;
    font-size: 12px;
    position: absolute;
    left: 39%;
    top: 14.5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    text-align: center;
}