.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    /*display: none;*/
    position: absolute;
    right: 15px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.login-button{
    /*position: absolute;*/
    background-color: white;
    font-family: Helvetica;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    border: 3px solid transparent; /* Add a transparent border */
    border-color: black;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    /*&:hover {*/
    /*    background-color: black;*/
    /*    color: white;*/
    /*    border-color: white;*/
    /*}*/
}
