
.check-in-date{
    position: absolute;
    left: 37.5%;
    top: 130%;
    /*margin: auto;*/
    /*display: block;*/
}

.check-in-label{
    font-size: 15px;
    font-family: Helvetica;
    position: absolute;
    left: 30%;
    top: 128.25%;
    /*margin: auto;*/
}

.check-out-label{
    font-size: 15px;
    font-family: Helvetica;
    position: absolute;
    left: 50%;
    top: 128.25%;
    /*margin: auto;*/
}

.check-out-date{
    position: absolute;
    left: 58.2%;
    top: 130%;
    /*display: block;*/
    /*margin: auto;*/
}

.select-room-label{
    position: absolute;
    left: 40%;
    top: 140%
}

.room-select-dropdown{
    position: absolute;
    left: 50%;
    top: 140%;
}

.smoking-picker{
    position: absolute;
    left: 43%;
    top:150%;
}

.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 140vh;
}

.room-unavailable-error{
    font-size: 20px;
    color: red;
    position: absolute;
    left: 40%;
    top: 152%;
}

.room-available-label{
    position: absolute;
    left: 30%;
    font-size: 30px;
    top: 162%
}

.room-cost{
    position: absolute;
    left: 51.5%;
    font-size: 30px;
    top: 162%
}

.reserve-room-button{
    position: absolute;
    left: 46.25%;
    top: 172%;

}