.room-number-input{
    position: absolute;
    left: 40%;

}

.room-cost-input{
    position: absolute;
    left: 40%
}

.add-room-button{
    position: absolute;
    left: 45%;
    width: 120px;
    height: 40px;
    color: white;
    background-color: darkgreen;
    border: none;

    &:hover{
        background-color: #003a00;
    }
}