.boxLoginPage {
    width: 1800px;
    height: 650px;
    min-height: 100px;
    overflow: auto;
    border: 10px solid #ffb81c;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.loginAligner{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.inputContainerLogin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.inputBoxLogin {
    height: 48px;
    width: 400px;
    font-size: large;
    border-radius: 8px;
    border: 1px solid grey;
}

input[type='buttonLogin'] {
    border: none;
    background: #64ed82;
    color: #ffffff;
    padding: 12px 24px;
    margin: 30px;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    top: 45%;
    align-items: center;
    text-align: center;

    display: block;
    margin-left: auto;
    margin-right: auto;

    &:hover{
        background-color: #006016;
    }
}

input[type='button2Login'] {
    border: none;
    background: #ffb81c;
    color: #ffffff;
    padding: 12px 24px;
    margin: 45px;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    align-items: center;
    text-align: center;


    display: block;
    margin-left: auto;
    margin-right: auto;


    a { color: #ffffff
    } /* Globally */

    a:link {text-decoration: none; outline: 0; border: none;}
    a:visited { text-decoration: none; color: #ffffff; }
    a:hover { text-decoration: none; color: #ffffff; }
    a:focus { text-decoration: none; color: #ffffff; outline: 0; border: none;}
    a:hover, a:active { text-decoration: none; color: #ffffff; outline: 0; border: none;}

    &:hover{
        background-color: #855f00;
    }
}

.login-failed{
    color: red;
    font-size: 12px;
    position: absolute;
    left: 39%;
    top: 14.5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    text-align: center;
}