.listing-name{
    font-family: Helvetica;
    font-size: 7vh;
    font-weight: bolder;
    color: #003b00;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3.5%;
    height: 2vh;

}

.listing-desc{
    font-family: Helvetica;
    font-size: 30px;
    position: absolute;
    right: 25%;
    top: 70%;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}
.image-container {
    width: 200px; /* Adjust the width as needed */
    text-align: center; /* Center the text below the image */
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-weight: normal;
    margin: 50px; /* Margin around each image container */
    float: left;
}

.image-container img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain the aspect ratio */
}

.image-container button{
    width: 150px;
    height: 30px;
    border: none;
    background-color: #003b00;
    color: white;

    &:hover{
        background-color: #002600;
    }
}
/*
TESTING PAST HERE
 */

.box {
    width: 1800px;
    height: 1000px;
    min-height: 100px;
    overflow: auto;
    border: 10px solid #ffb81c;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.item {
    padding: 100px 30px;
    height: 120px;
    display: flex;
    margin-right: 50px;
    text-align: right;
}

.description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
}

.description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
}
.description span:first-child {
    margin-bottom: 5px;
}
.description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
}