.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.inputContainer > .errorLabel {
    color: red;
    font-size: 12px;
}

.inputBox {
    height: 48px;
    width: 400px;
    font-size: large;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 8px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type='button'] {
    border: none;
    background: #64ed82;
    color: white;
    padding: 12px 24px;
    margin: 8px;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;

    display: block;
    margin-left: auto;
    margin-right: auto;

    &:hover{
        background-color: #006016;
    }
}